/* SliderStyles.css */
.slider-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .slide {
    display: flex;
    align-items: center;
    height: 300px; /* Adjust as needed */
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .slide-content {
    display: flex;
    width: 100%;
  }
  
  .image-container {
    flex: 1; /* Take up 50% of the space */
    padding: 10px;
  }
  
  .text-content {
    flex: 1; /* Take up 50% of the space */
    padding: 20px;
  }
  
  .slide-image {
    border-radius: 8px;
    object-fit: cover; /* Cover the area while preserving aspect ratio */
  }
  
  .text-content h2 {
    color: orange; /* Change the color of the heading */
  }
  
  .text-content p {
    font-size: 1.5em; /* Increase the font size of the paragraph */
  }
  