@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
  background-image: url("https://drive.google.com/uc?export=view&id=140xyLWRYM7LNMQwHTn3C3Rgh-YQt_NSs");
  
}
.show-dash{
  width: 800px;
}

